<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test13</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>start_page</servlet-name>
  	<jsp-file>/start.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
  	<servlet-name>start_page</servlet-name>
  	<url-pattern>/start</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>book_manager</servlet-name>
	<servlet-class>com.example.test13.control.BookManager</servlet-class>  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>book_manager</servlet-name>
  	<url-pattern>/op/*</url-pattern>
  </servlet-mapping>  
  
  <context-param>
  	<param-name>mysql-jdbc-driver</param-name>
  	<param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<param-name>db-url</param-name>
  	<param-value>jdbc:mysql://localhost:3306/bookdb1?serverTimezone=Asia/Seoul</param-value>
  </context-param>
  <context-param>
  	<param-name>db-user</param-name>
  	<param-value>testuser</param-value>
  </context-param>
  <context-param>
  	<param-name>db-password</param-name>
  	<param-value>test1234</param-value>
  </context-param>
  <context-param>
  	<param-name>db-table</param-name>
  	<param-value>bookinfo</param-value>
  </context-param>
  
  <listener>
  	<listener-class>com.example.test13.control.BookManagerServletContextListener</listener-class>
  </listener>
  
</web-app>