<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test11</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
 
  <servlet>
    <servlet-name>page_control_1</servlet-name>
    <servlet-class>com.example.test11.PageControl01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page_control_1</servlet-name>
    <url-pattern>/page1.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>page_control_2</servlet-name>
    <servlet-class>com.example.test11.PageControl02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>page_control_2</servlet-name>
    <url-pattern>/page2.do</url-pattern>
  </servlet-mapping></web-app>